.cache/**
.vscode/**
.vscode-test/**
browser/**
out/**
node_modules/**
src/**
webview-blazor/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

build.bat
publish.bat
