<div class="root">
    <div>Made by Kanawanagasaki</div>
    <div class="links">
        <a href="https://twitter.com/kanawanagasaki" target="_blank">Twitter</a>
        <a href="https://github.com/Kanawanagasaki/vsc-leetcode" target="_blank">Github</a>
    </div>
</div>
